@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-color: lightblue;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
